/**
 * This is the main wrapper ID for all BuddyPress.
 */
#buddypress { background: transparent; }
#buddypress li {
	list-style: none;
	margin: 0;
}
#buddypress ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


/*------------------------------------------------------------
1.0 - Members Directory
----------------------------------------------------------*/
.bp-archive-members {
	margin: 0;
	padding: 0;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#buddypress .bp-archive-members li {
	float: left;
	width: 50%;
}
.bp-archive-members li .member-avatar {
	float: left;
	margin: 0 3% 0 0;
}
.bp-archive-members li .item-action {
	float: right;
}
.bp-archive-members li:nth-child(2n+2) {
	margin: 0 0 1% 0;
}


/**
 * Pagination
 */

.bp-pagination-count {
	float: left;
}

.bp-pagination-links {
	float: right;
}

.bp-pagination {
	float: right;
	font-size: 12px;
	width: 100%;
}
.bp-pagination a { text-decoration: none; }
