/* =TABLE OF CONTENTS
=======================================================
01. Globals
02. Members Directory
03. Groups Directory
04. Pagination
05. Activity Directory
07. Sites Directory
*/

@import "variables.less";
@import "mixins.less";


/* =01. Globals
-------------------------------------------------------------- */
#buddypress {
	background: transparent;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		margin: 0;
	}

	img{
		height: auto;
		max-width: 100%;
	}
}


/* =02. Members Directory
-------------------------------------------------------------- */
#buddypress .bp-archive-members {
	.box-sizing(border-box);
	.clearfix();
	margin: 0 0 @themeCompatMargin 0;
	width: 100%;

	li {
		float: left;  // @todo RTL
		margin: 0 @themeCompatMargin @themeCompatMargin 0;  // @todo RTL
	}
}

.bp-archive-members {
	li {
		text-align: center;
	}

	.member-meta {
		font-size: @smallFontSize;
	}
}


/* =03. Groups Directory
-------------------------------------------------------------- */
#buddypress .bp-archive-groups {
	.box-sizing(border-box);
	.clearfix();
	margin: 0 0 @themeCompatMargin 0;
	width: 100%;

	li {
		float: left;  // @todo RTL
		margin: 0 1% @themeCompatMargin 0;  // @todo RTL
		width: 49%;
	}
}

.bp-archive-groups {	
	.group-avatar {
		float: left;  // @todo RTL
		margin: 0 @themeCompatMargin 0 0;  // @todo RTL
	}

	.group-meta {
		font-size: @smallFontSize;
	}
}


/* =04. Pagination
-------------------------------------------------------------- */
.bp-pagination-count {
	float: left;  // @todo RTL
}

.bp-pagination-links {
	float: right;  // @todo RTL
}

.bp-pagination {
	float: right;  // @todo RTL
	font-size: @smallFontSize;
	margin-bottom: @themeCompatMargin;
	width: 100%;

	a { text-decoration: none; }
}


/* =05. Activity List
--------------------------------------------------------------- */
#buddypress .bp-archive-activity li{
	.clearfix();
	margin: 0 0 3% 0;

	.bp-primary-action, .bp-secondary-action{
		margin: 0 3% 0 0;
	}

	.activity-content{
		margin: 0 0 0 12%;
	}

	.activity-avatar{
		float: left; // @todo RTL
		margin: 0 1% 0 0;
		width: 10%;
	}
	
	.activity-meta{
		float: right;
		font-size: @smallFontSize;
	}

	.activity-header p, .activity-body p{
		margin: 0 0 5px 0;
	}
}


/* =06. Sites Directory
--------------------------------------------------------------- */
.bp-archive-blogs {
	.clearfix();
	width: 100%;

	.blog-author-avatar {
		float: left;  // @todo RTL
		margin-right: 1rem;  // @todo RTL
	}

	.blog-content {
		.clearfix();
		float: left;  // @todo RTL
		width: 80%;

		.blog-title {
			margin: 0;
			padding: 0;

			span a {
				color: inherit;
				font-size: @smallFontSize;
				text-decoration: none;
			}
		}

		.blog-image,
		.blog-excerpt {
			margin-top: @themeCompatMargin;
		}
	}
}
