/* =TABLE OF CONTENTS
=======================================================
01. Globals
02. Members Directory
03. Groups Directory
04. Pagination
05. Activity Directory
05a. Activity Permalink
05b. Activity Comments
06. Messages
07. Sites Directory
08. Single member
08a. Single member - menu
08b. Single member - activity
08c. Single member - groups
08d. Single member - friends
08e. Single member - settings
08f. Single member - profile
09. Core widgets
10. Notices
11. Menus
*/

@import "variables.less";
@import "mixins.less";


/* =01. Globals
-------------------------------------------------------------- */
#buddypress {
	background: transparent;

	img {
		height: auto;
		max-width: 100%;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		margin: 0;
	}
}


/* =02. Members Directory
-------------------------------------------------------------- */
#buddypress .bp-archive-members {
	.box-sizing(border-box);
	.clearfix();
	margin: 0 0 @themeCompatMargin 0;
	width: 100%;

	> li {
		float: left;  // @todo RTL
		margin: 0 @themeCompatMargin @themeCompatMargin 0;  // @todo RTL

		&:nth-child(4n+4) { margin-right: 0; }  // @todo RTL
	}
}

.bp-archive-members {
	> li {
		text-align: center;
		width: 23%;

		&:nth-child(4n+5) { clear: left; }  // @todo RTL
	}

	.member-details {
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
	}
}

#bp_member_search_form {
	margin-bottom: @themeCompatSearchSpacing;

	.searchwrapper {
		.clearfix();

		label { display: block; }
		span {
			display: block;
			overflow: hidden;
			padding-right: @themeCompatMargin;  // @todo RTL
		}

		.search {
			margin-bottom: 0;  // theme compat: twentyten
			vertical-align: bottom;
			width: 100%;
		}

		.submit {
			float: right;  // @todo RTL
			margin-bottom: 0;  // theme compat: twentyten
		}
	}
}


/* =03. Groups Directory
-------------------------------------------------------------- */
#buddypress .bp-archive-groups {
	.box-sizing(border-box);
	.clearfix();
	margin: 0 0 @themeCompatMargin 0;
	overflow: hidden !important;
	width: 100%;

	> li {
		float: left;  // @todo RTL
		margin: 0 2% @themeCompatListSpacing 0;  // @todo RTL
		width: 49%;

		&:nth-child(2n+2) { margin-right: 0; } // @todo RT
	}

	.group-meta {
		ul { margin: 0;	}

		li {
			margin: 0;
			padding: 0;
			width: 100%;
		}
	}
}

.bp-archive-groups {
	> li:nth-child(2n+1) {
		clear: left; // @todo RTL
	}

	.group-avatar {	float: left; } // @todo RTL

	.group-details {
		.box-sizing(border-box);
		padding-left: 150px + @themeCompatMargin;  // group avatar width plus margin.  @todo RTL
		width: 100%;
	}

	.group-meta {
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;

		ul {
			.clearfix();
			word-wrap: break-word;
		}
	}

	.group-description {
		float: left;  // @todo RTL
		p { margin-bottom: 0; }
	}
}

#bp_group_search_form {
	margin-bottom: @themeCompatSearchSpacing;

	.searchwrapper {
		.clearfix();

		label { display: block; }
		span {
			display: block;
			overflow: hidden;
			padding-right: @themeCompatMargin;  // @todo RTL
		}

		.search {
			margin-bottom: 0;  // theme compat: twentyten
			vertical-align: bottom;
			width: 100%;
		}

		.submit {
			float: right;  // @todo RTL
			margin-bottom: 0;  // theme compat: twentyten
		}
	}
}


/* =04. Pagination
-------------------------------------------------------------- */
.bp-pagination-count { float: left; } // @todo RTL

.bp-pagination-links { float: right; } // @todo RTL

.bp-pagination {
	float: right;  // @todo RTL
	font-size: @smallFontSizePx;
	font-size: @smallFontSizeRem;
	margin-bottom: @themeCompatMargin;
	width: 100%;

	a { text-decoration: none; }
}


/* =05. Activity List
--------------------------------------------------------------- */
#buddypress .bp-archive-activity {
	> li { margin: 0 0 @themeCompatSearchSpacing 0; }
	p { margin-bottom: 0; }

	.activity-actions li { margin: 0 0; }
}

.bp-archive-activity {
	.clearfix();

	> li {
		overflow: hidden;

		&.mini {
			.activity-header {
				font-weight: normal;
				padding-bottom: 0;
			}

			.activity-meta { margin-top: 0; }
		}
	}

	.activity-avatar {
		float: left; // @todo RTL
		margin-right: @themeCompatMargin; // @todo RTL
	}

	.activity-content { margin: 0 0 0 (@themeCompatMargin + 50px); } // @todo RTL

	.activity-comments {
		.clearfix();
		margin: 0 0 0 (@themeCompatMargin + 50px); // @todo RTL
	}

	.activity-header {
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
		font-weight: bold;
		padding-bottom: @themeCompatMargin/2;

		p { margin-bottom: 0; }
	}

	.activity-body {
		padding-bottom: @themeCompatMargin/2;
		p { margin: 0; }
	}

	.activity-meta {
		float: left; // @todo RTL
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
		margin-top: @themeCompatMargin/2;
		width: 100%;
	}

	.activity-timestamp {
		float: left; // @todo RTL
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
	}

	.activity-actions {
		float: right; // @todo RTL

		li {
			padding: 0 @themeCompatMargin/2; // @todo RTL
			display: inline-block;

			&:first-child { padding-left: 0; } // @todo RTL ?
			&:last-child { padding-right: 0; } // @todo RTL ?

			.has-count {
				span:before { content: "("; }
				span:after { content: ")"; }
			}
		}
	}
}

#bp_activity_search_form {
	margin-bottom: @themeCompatSearchSpacing;

	.bp_filter_label {
		float: right;  // @todo RTL
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
		margin-left: @themeCompatMargin;  // @todo RTL
	}

	.searchwrapper {
		.clearfix();

		span {
			display: block;
			overflow: hidden;
			padding-right: @themeCompatMargin;  // @todo RTL
		}

		.search {
			margin-bottom: 0;  // theme compat: twentyten
			width: 100%;
		}

		.submit {
			float: right;  // @todo RTL
			margin-bottom: 0;  // theme compat: twentyten
		}
	}
}

#bp_activity_filter {
	float: right;  // @todo RTL
	margin-left: @themeCompatMargin;  // @todo RTL
}


/* =05a. Activity Permalink
--------------------------------------------------------------- */
#buddypress .bp-single-activity {
	> li { margin: 0; }
}


/* =05b. Activity Comments
--------------------------------------------------------------- */
#buddypress .bp-archive-activity .activity-comments {
	font-size: @smallFontSizePx;
	font-size: @smallFontSizeRem;

	ul > li {
		margin-bottom: @themeCompatMargin/2;
		&:last-child { margin-bottom: 0; }
	}

	li ul {
		margin: 0 0 @themeCompatMargin @themeCompatListSpacing;  // @todo RTL
		> li { margin-top: @themeCompatMargin/2; }
	}

	.acomment-avatar-label {
		float: left;  // @todo RTL
		font-weight: bold;
		margin-top: @themeCompatListSpacing;
	}

	.acomment-avatars {
		.clearfix();
		margin-top: @themeCompatListSpacing;

		li {
			display: inline-block;
			margin: 0 @themeCompatMargin 0 0;  // @todo RTL

			img {
				height: @themeCompatTinyAvatarSize;
				width: @themeCompatTinyAvatarSize;
			}
		}
	}

	.acomment-actions-label,
	.acomment-header-label {
		left: -999em;  // @todo RTL
		position: absolute;
	}

	.acomment-actions {
		margin: 0;

		li {
			display: inline-block;
			margin: 0 @themeCompatMargin 0 0;  // @todo RTL
		}
	}

	.acomment-header p { margin-bottom: 0; }
	.acomment-body p { margin: 0; }
}


/* =06. Messages
-------------------------------------------------------------- */
#buddypress {
	.messages-options-nav { overflow: hidden; }

	.options-nav {
		float: right;
		margin-bottom: 10px 0;
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
	}
	
	.thread-avatar {
		float: left;
		margin-right: 10px;
	}

	span.delete-link { float: right; }

	ul#message-threads li {
		border-bottom: 1px solid @themeCompatSubtleBorder;
		padding: 10px;

		&:first-child { border-top: 1px solid @themeCompatSubtleBorder; }	
		li.unread { background-color: #faf9fb; }
	}

	.thread-options {
		overflow: hidden;
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
	}

	.thread-delete { float: right; }
	.thread-link { padding-left: 30px; }
	.thread-content { margin-bottom: 10px; }

	#send_message_form label {
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
	}

	#message-header{
		margin-bottom: 10px;
		overflow: hidden;

		.message-search { float: right; }

		h4.message-title {
			padding: 0;
			margin: 0;
			float: left;
		}
	}

	#messages-dir-count { float: left; }

	#messages-dir-pag { float: right; }

	#user-pag.pagination {
		padding-top: 5px 0;
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;

		&:after {
			content: " ";
			clear: right;
			display: table; 
		}
	}

	.message-subject, .message-to {
		margin-top: 10px 0;
		display: block;
	}

	.message-all-notice {
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
	}

	input#send-to-input.send-to-input, input#subject {
		width: 95%;
	}

	.notice-content p {	margin-bottom: 10px; }

	.notice-date { float: left;	}

	.thread-date { 
		float: left;
		padding-left: 30px;
	}

	.notice-action-button { float: right; }

	.notice-action {
		overflow: hidden;
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
	}

	#message-thread {
		float: left;
		width: 100%;
	}

	#message-box > div { margin-left: 20px; }
	#message-box > div:first-child { margin-left: 0px; }
	h4#message-subject { margin: 0; }

	.message-content p {
		padding-left: 40px;
		margin-bottom: 10px;
	}

	.avatar-box { margin-bottom: 15px; }

	.message-box-reply {
		padding-top: 15px;
		border-top: 1px solid @themeCompatSubtleBorder;
		margin-left: 20px;
	}

	#message-box img.avatar, .message-box-reply img.avatar{
		float: left;
		margin-right: 10px;
	}

	.message-metadata {
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
		margin-bottom: 5px;
	}

	p#message-recipients {
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
		margin-bottom: 10px;
	}

	.message-box {
		padding-top: 10px 0;
		border-top: 1px solid @themeCompatSubtleBorder;
	}

	form#send_message_form .message-content { width: 95%; }
}


/* =07. Sites Directory
--------------------------------------------------------------- */
.bp-archive-blogs {
	.clearfix();
	width: 100%;

	.blog-author-avatar {
		float: left;  // @todo RTL
		margin-right: 10px;
		margin-right: 1rem;  // @todo RTL
	}

	.blog-content {
		.clearfix();
		float: left;  // @todo RTL
		width: 80%;

		.blog-title {
			margin: 0;
			padding: 0;

			span a {
				color: inherit;
				font-size: @smallFontSizePx;
				font-size: @smallFontSizeRem;
				text-decoration: none;
			}
		}

		.blog-image,
		.blog-excerpt { margin-top: @themeCompatMargin; }
	}
}


/* =08. Single member
--------------------------------------------------------------- */
#bp-member-content {
	.box-sizing(border-box);
	.clearfix();
	padding-left: @menuWidth + (@themeCompatSearchSpacing);
	width: 100%;
}


/* =08a. Single member - menu
--------------------------------------------------------------- */
.bp-user #bp-menu .bp-navigation .member-menu-avatar {
	padding: 0;
	a { padding: 0; }
}


/* =08b. Single member - activity
--------------------------------------------------------------- */
#buddypress #bp-member-content .bp-archive-activity {
	> li { overflow: hidden; }
	.activity-avatar { display: none; }
	.activity-content {	margin-left: 0; }  // @todo RTL
}

#bp-member-content #bp_activity_search_form {
	.searchwrapper {
		.clearfix();
		overflow: hidden;
	}

	.bp_filter_label {
		float: inherit;
		margin-left: 0;  // @todo RTL
	}
}

#bp-member-content #bp_activity_filter {
	float: inherit;
	margin-left: 0;  // @todo RTL
}


/* =08c. Single member - groups
--------------------------------------------------------------- */
#bp-member-content .bp-archive-groups {
	.group-details {
		clear: left;  // @todo RTL
		padding-left: 0;
	}
}


/* =08d. Single member - friends
--------------------------------------------------------------- */
#bp-member-content .bp-archive-members {
	overflow: hidden;

	.member-avatar {
		float: left;  // @todo RTL
		margin-right: @themeCompatMargin;  // @todo RTL

		img {
			display: block;
			height: 50px;
			width: 50px;
		}
	}
	.member-update { margin-bottom: 0; }

	li {
		.clearfix();
		float: inherit;
		margin: 0 0 @themeCompatListSpacing 0;  // @todo RTL (margin-right is explicity cleared)
		text-align: left; // @todo RTL?
	}

	> li { width: auto; }
}


/* =08e. Single member - settings
--------------------------------------------------------------- */
#bp-member-content .bp-member-settings-general {
	input[type="submit"] { margin-top: @themeCompatListSpacing; }
	label {	display: block; }

	fieldset {
		margin-top: @themeCompatListSpacing;
		input { margin-right: @themeCompatMargin; }  // @todo RTL
	}

}

#bp-member-content .bp-member-settings-deleteaccount {
	input[type="submit"] { margin-top: @themeCompatListSpacing; }
	label {	display: block; }
}

#bp-member-content .bp-member-settings-notifications {
	table {
		td:nth-child(1),
		th:nth-child(1) {	display: none; }
		td:nth-child(2) { width: 100%; }
	}
}


/* =08f. Single member - profile
--------------------------------------------------------------- */
#bp-member-content .bp-member-profile-view {
	caption { margin: 0 0 @themeCompatMargin; }
	tfoot,
	thead {
		left: -999em;  // @todo RTL
		position: absolute;
	}

	td {
		padding: @themeCompatMargin;
		vertical-align: middle;
	}

	.data p { margin: 0; }
	.label {
		font-weight: bold;
		width: 30%;
	}
}

#bp-member-content .bp-member-profile-edit {
	input[type="text"],
	textarea { width: 100%; }
	label { display: block; }

	.editfield {
		margin-top: @themeCompatMargin;
		&:first-child { margin-top: 0; }

		legend {
			left: -999em;  // @todo RTL
			position: absolute;
		}
	}

	.group-edit-tabs li {
		display: inline-block;
		margin: 0 @themeCompatMargin @themeCompatMargin 0;  // @todo RTL

		&:last-child { margin-right: 0; }
		&.current a {
			color: inherit;
			font-weight: bold;
			text-decoration: none;
		}
	}

	.profile-field-description,
	.submit { margin-top: @themeCompatMargin; }
}


/* =09. Core widgets
--------------------------------------------------------------- */
#bp-member-profile-widgets {
	font-size: @smallFontSizePx;
	font-size: @smallFontSizeRem;
	max-width: @menuWidth;

	&:after { clear: left; }  // @todo RTL
	h2 { margin-top: 0; }

	> li {
		float: left;  // @todo RTL
		margin-bottom: @themeCompatListSpacing;
	}
}

.widget_bp_core_whos_online_widget,
.widget_bp_core_recently_active_widget {
	.avatar-block { .clearfix(); }

	.item-avatar {
		float: left;  // @todo RTL
		margin-right: 4px;  // @todo RTL
	}

	img {
		height: 40px;
		width: 40px;
	}
}

.widget_bp_groups_widget,
.widget_bp_core_members_widget {
	#groups-list,
	#members-list {
		list-style: none;
		margin: @themeCompatMargin 0 0;  // Required to override theme
	}

	li {
		.clearfix();
		margin-bottom: @themeCompatListSpacing;
	}

	.item-avatar {
		float: left;  // @todo RTL

		img {
			height: @themeCompatTinyAvatarSize;
			width: @themeCompatTinyAvatarSize;
		}
	}

	.item {
		.box-sizing(border-box);
		padding-left: @themeCompatTinyAvatarSize + @themeCompatMargin;  // .item-avatar img width + global margin.  @todo RTL
		width: 100%;
	}
}


/* =10. Notices
--------------------------------------------------------------- */
#buddypress .bp-template-notice p {
	margin: @themeCompatMargin/2 0;
}

.bp-template-notice {
	.border-radius(3px);
	background-color: @noticeBackground;
	border: 1px solid @noticeBorder;
	color: #000;
	margin: 0 0 @themeCompatMargin;
	padding: 0 @themeCompatMargin;

	a { text-decoration: none; }
	p {
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;		
	}

	&.info,
	&.updated {
		border: @noticeInfoBorder 1px solid;
		background-color: @noticeInfoBackground;
	}

	&.important {
		border: @noticeBorder 1px solid;
		background-color: @noticeImportantBackground;
	}

	&.error {
		background-color: @noticeErrorBackground;
		border-color: @noticeErrorBorder;

		a { color: @noticeErrorBorder; }
	}
}

.bp-user .bp-template-notice {
	margin-bottom: @themeCompatListSpacing;
}


/* =11. Menus
--------------------------------------------------------------- */
#buddypress #menu-bp .bp-show-menu {
	left: 0;  // @todo RTL
	position: static;
}

#bp-menu {
	float: left;  // @todo RTL
	margin-bottom: @themeCompatListSpacing;

	.bp-navigation {
		.box-sizing(border-box);
		width: @menuWidth;
	}

	li:before { content: normal; }  // theme compat: buttercream;
	#menu-bp a { border-bottom: 0; } // theme compat: duet
}

#menu-bp {
	a {
		display: inline-block;
		font-size: @smallFontSizePx;
		font-size: @smallFontSizeRem;
		text-decoration: none;
		width: 100%;
	}

	li {
		&.current-menu-parent .sub-menu {
			left: 0;  // @todo RTL
			position: static;
		}

		span {
			float: right;

			&:after { content: ")"; }
			&:before { content: "("; }
		}

		> .sub-menu {
			left: -999em;  // @todo RTL
			margin: 0;  // theme compat: twentyeleven
			position: absolute;
			overflow: hidden;

			li {
				padding-left: @themeCompatMargin;
				a:before { content: "\2192  "; }  // @todo RTL -- :after, \2190
			}
		}
	}

	> li {
		border-bottom: 1px solid @themeCompatSubtleBorder;

		&:last-child { border-bottom: 0 }
		.sub-menu { border-bottom: 0; }
	}

	.current-menu-item a,
	.current-menu-parent > a {
		color: inherit;
		font-weight: bold;
	}

	.sub-menu { padding-bottom: @themeCompatMargin; }
}

.no-menu-js #menu-bp li:hover > .sub-menu {
	left: 0;  // @todo RTL
	position: static;
}
