/* =TABLE OF CONTENTS
=======================================================
01. Globals
02. Members Directory
03. Groups Directory
04. Pagination
05. Activity Directory
07. Sites Directory
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* =01. Globals
-------------------------------------------------------------- */
#buddypress {
  background: transparent;
}
#buddypress ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#buddypress li {
  list-style: none;
  margin: 0;
}
#buddypress img {
  height: auto;
  max-width: 100%;
}
/* =02. Members Directory
-------------------------------------------------------------- */
#buddypress .bp-archive-members {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  margin: 0 0 0.75rem 0;
  width: 100%;
}
#buddypress .bp-archive-members:before,
#buddypress .bp-archive-members:after {
  display: table;
  content: "";
  line-height: 0;
}
#buddypress .bp-archive-members:after {
  clear: both;
}
#buddypress .bp-archive-members li {
  float: left;
  margin: 0 0.75rem 0.75rem 0;
}
.bp-archive-members li {
  text-align: center;
}
.bp-archive-members .member-meta {
  font-size: 0.85rem;
}
/* =03. Groups Directory
-------------------------------------------------------------- */
#buddypress .bp-archive-groups {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  margin: 0 0 0.75rem 0;
  width: 100%;
}
#buddypress .bp-archive-groups:before,
#buddypress .bp-archive-groups:after {
  display: table;
  content: "";
  line-height: 0;
}
#buddypress .bp-archive-groups:after {
  clear: both;
}
#buddypress .bp-archive-groups li {
  float: left;
  margin: 0 1% 0.75rem 0;
  width: 49%;
}
.bp-archive-groups .group-avatar {
  float: left;
  margin: 0 0.75rem 0 0;
}
.bp-archive-groups .group-meta {
  font-size: 0.85rem;
}
/* =04. Pagination
-------------------------------------------------------------- */
.bp-pagination-count {
  float: left;
}
.bp-pagination-links {
  float: right;
}
.bp-pagination {
  float: right;
  font-size: 0.85rem;
  margin-bottom: 0.75rem;
  width: 100%;
}
.bp-pagination a {
  text-decoration: none;
}
/* =05. Activity List
--------------------------------------------------------------- */
#buddypress .bp-archive-activity li {
  *zoom: 1;
  margin: 0 0 3% 0;
}
#buddypress .bp-archive-activity li:before,
#buddypress .bp-archive-activity li:after {
  display: table;
  content: "";
  line-height: 0;
}
#buddypress .bp-archive-activity li:after {
  clear: both;
}
#buddypress .bp-archive-activity li .bp-primary-action,
#buddypress .bp-archive-activity li .bp-secondary-action {
  margin: 0 3% 0 0;
}
#buddypress .bp-archive-activity li .activity-content {
  margin: 0 0 0 12%;
}
#buddypress .bp-archive-activity li .activity-avatar {
  float: left;
  margin: 0 1% 0 0;
  width: 10%;
}
#buddypress .bp-archive-activity li .activity-meta {
  float: right;
  font-size: 0.85rem;
}
#buddypress .bp-archive-activity li .activity-header p,
#buddypress .bp-archive-activity li .activity-body p {
  margin: 0 0 5px 0;
}
/* =06. Sites Directory
--------------------------------------------------------------- */
.bp-archive-blogs {
  *zoom: 1;
  width: 100%;
}
.bp-archive-blogs:before,
.bp-archive-blogs:after {
  display: table;
  content: "";
  line-height: 0;
}
.bp-archive-blogs:after {
  clear: both;
}
.bp-archive-blogs .blog-author-avatar {
  float: left;
  margin-right: 1rem;
}
.bp-archive-blogs .blog-content {
  *zoom: 1;
  float: left;
  width: 80%;
}
.bp-archive-blogs .blog-content:before,
.bp-archive-blogs .blog-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.bp-archive-blogs .blog-content:after {
  clear: both;
}
.bp-archive-blogs .blog-content .blog-title {
  margin: 0;
  padding: 0;
}
.bp-archive-blogs .blog-content .blog-title span a {
  color: inherit;
  font-size: 0.85rem;
  text-decoration: none;
}
.bp-archive-blogs .blog-content .blog-image,
.bp-archive-blogs .blog-content .blog-excerpt {
  margin-top: 0.75rem;
}
