/**
 * This is the main wrapper ID for all BuddyPress.
 */
#buddypress { background: transparent; }
#buddypress li {
	list-style: none;
	margin: 0;
}
#buddypress ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


/**
 * Pagination
 */

.bp-pagination-count {
	float: left;
}

.bp-pagination-links {
	float: right;
}

.bp-pagination {
	float: right;
	font-size: 12px;
	width: 100%;
}
.bp-pagination a { text-decoration: none; }


/**
 * Members archive
 */
.bp-archive-members { width: 100%; }











/**
There be dragons down here
**/


/*------------------------------------------------------------
1.0 - Members Directory
----------------------------------------------------------*/
#buddypress ul.item-list{
	display: block;
	margin: 0;
	padding: 0;
}
#buddypress #members-list li.item-grid{
	display: inline-block;
	float: left;
	list-style:none;
	margin: 0 2% 1% 0;
    vertical-align: top;
	width: 48.65%;
}
#buddypress .member-avatar{
	float: left;
	margin: 0 3% 0 0;
}
#buddypress #members-list .member-single{
	padding: 1rem;
    overflow: hidden; /* temp fix */
}
#buddypress #members-list li.item-grid:nth-child(2n+2){
	margin: 0 0 1% 0;
}
#buddypress .item-action{
	float: right;
}

/*------------------------------------------------------------
2.0 - Updates
----------------------------------------------------------*/
#buddypress span.activity,
#buddypress div#message p {
	margin-top: 3px;
	text-decoration: none;
}
#buddypress span.activity {
	display: inline-block;
	padding: 1px 8px;
}

/*------------------------------------------------------------
3.0 - Pagination
----------------------------------------------------------*/
#pag-bottom{	
	clear: both;
}