@smallFontSizePx: 12px;  // Fallback for oldIE
@smallFontSizeRem: 0.85rem;

@themeCompatMargin: 10px;  // Use for gutter between elements
@themeCompatListSpacing: @themeCompatMargin * 2;  // Use for most vertical <ul> lists
@themeCompatSearchSpacing: @themeCompatMargin * 2;  // Use for space between search/filter elements and page content
@themeCompatSubtleBorder: #DDD;
@themeCompatTinyAvatarSize: 20px;

@menuWidth: 150px;  // BP large avatar size

@noticeBorder: #E6DB55;
@noticeBackground: #FFFFE0;
@noticeInfoBorder: #CEE1EF;
@noticeInfoBackground: #F0F8FF;
@noticeImportantBackground: #FFFBCC;
@noticeErrorBorder: #C00;
@noticeErrorBackground: #FFEBE8;
